* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    text-align: center;
}

header {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 56px;
    
}

.discription {
    padding: 0 20px;
    margin-bottom: 20px;
}

#score {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 35px;
    width: 20%;
    margin: 0 auto;
    height: 90px;
    border: 2px dashed black;
    border-radius: 10px;
    margin-bottom: 20px;

}

#gameScore {
    padding-top: 10px;
}
#wins-losses {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 30px;
    margin: 0 auto;
    overflow: hidden;
    height: 80px;
}

#wins {
    float: left;
    margin-left: 30%;
    margin-right: 25%;
}
#losses {
    float: left;
}
.buttons img {
    width: 12%;
    margin: 10px;
}

#user-score {
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    height: 80px;
    border: 2px dashed black;
    border-radius: 15px;
    margin-bottom: 40px;
}

#userScoreDiv {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 30px;  
}

.message {
    width: 50%;
    height: 350px;
    background: white;
    border: 3px dashed black;
    border-radius: 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    line-height: 350px;
    display: none;
}

.message.show {
    display: block;
}